version: '3.8'

services:
  subscriber:
    container_name: nk2-msp-subscriber
    image: patch:0.2v
    restart: always
    environment:
      API_URL: ${API_URL}
      SERVICE_ROLE_KEY: ${SERVICE_ROLE_KEY}
      MQTT_HOST: ${MQTT_HOST}
      MQTT_PORT: ${MQTT_PORT}
      MQTT_TOPIC: ${MQTT_TOPIC}
      BASH_API: ${BASH_API}
